
canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: none;
  padding:2px;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#c {
position:absolute; 
top:0;
left:0;
padding-top:30px;
}

#logo{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #333;
  font-size: 50px;
  padding-top: 23px;
  padding-bottom: 30px;
  display: inline-block;
  padding-left: 10px;
  margin-left: 70px;
  letter-spacing:4px;
}

#catchphrase{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 15px;
  display: inline-block;
}


#beta{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 15px;
  position: relative;
  float: right;
  letter-spacing:0px;
}

.corrected{
 margin-right:15px;
 padding-left: 15px;
}

.dataprop{
  text-decoration:none;
  overflow: visible;
  color: #999;
} 

.optslider{
float:right;
}

.slider{
padding-top:40px;
width:100% !important;
}

.tooltip-inner {
    max-width: 1000px;
}

.fixedtable {
	table-layout: fixed; 
	width: 100%;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

.optslidertitle{
padding-top:10px;
float:left;
}

.optgroup{
height: 55px;
}


#sl1, #sl2, #sl3, #sl4{
width: 80pt;
}

.sectionheader{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #666;
  float: left;
  min-height: 40px;
  z-index: 1000;
}

.searchheader{
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 24px;
  float: left;
  min-height: 40px;
  z-index: 3000;
}

.searchheader input[type=text]{
	width: 200px; 
	height: 30px; 
	font-size: 10pt;
	box-shadow: none;
	z-index: 3000;
}
.searchheader input[type=text]:focus{
        position: absolute;
	width: 382px;
	border-color: #51a7e8;
	outline: none;
	z-index: 3000;
}

.teaser{
  font-size: 16px !important;
  color: #666;
}

.teaser > em{
  font-weight: 800;
}

.searchbar{
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
}

.searchbar i{
  font-size: 18px;
  color: #888;
  margin-right: 5px;
}

.menu{
  border-radius:3px;
  border:1px solid #d8d8d8;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}

.menu a:hover{
  text-decoration:none
}

.menu li{
  border-bottom:1px
  solid #eee;
  border-top:1px solid #fff
}

.menu li:last-child{
  border-bottom:none
}

.menu li:first-child{
  border-top:none
}

.menu li.filter{
  padding:3px;
}

.menu a{
  display:block;
  padding:8px 10px 8px 8px;
  text-shadow:0 1px 0 #fff;
  border-left:2px solid #fafafb;
  color: #888;
}

.menu a.selected{
  background:#fff;
  font-weight:bold;
  color:#d26911;
  cursor:default
}

.menu a.selected i{
  color:#d26911;
}


.menu a .counter{
  float:right;
  margin-left:5px
}


#openmlsearch::-webkit-input-placeholder{ color: #aeaeae;}
#openmlsearch:-moz-placeholder{ color: #aeaeae;}
#openmlsearch::-moz-placeholder{ color: #aeaeae;}
#openmlsearch:-ms-input-placeholder{ color: #aeaeae;}

.coverspacer{
   height: 30px;
}

.blueheader{
  color: #333;
}

.greenheader{
  color: #333;
}

.yellowheader{
  color: #333;
  margin-bottom: 20px;
}

.redheader{
  color: #333;
  margin-bottom: 20px;
}

.searchbar{
  margin-bottom: 30px;
}

.upload{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%
}

.filtertitle{
  display:block;
  padding-top: 15px;
  padding-bottom: 5px;
}

.filtertitle a{
  color: #333333;
  text-decoration:none;
  font-size: 14px;
  font-weight: 400;
}

.option-heading{
  display:block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.option-heading a{
  color: #333333;
  text-decoration:none;
  font-size: 14px;
  font-weight: 400;
}

.option-body{
  padding-left:15px;
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
}

.query-heading{
  display:block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.query-heading a{
  color: #333333;
  text-decoration:none;
  font-size: 15px;
}

.query-body{
  padding-left:15px;
}

.detail-container{
  padding-left: 30px;
  padding-right: 30px;
}

.topborder{
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.tip{
  font-size: 11px !important;
  margin: 0;
}

.searchheader{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 18px;
  z-index: 10000;
}

.sectionlogo{
  display: inline-block;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 3px;
}

.sectionlogo img{
  height: 40px;
}


.sectionlogo a{
  color: #666666;
  text-decoration: none
}

.sectiontitleblue{
  display: inline-block;
  float: left;
  font-weight: 300;
  color: #428bca;
}

.sectiontitleblue a{
  color: #428bca;
  text-decoration: none
}

.sectiontitlegreen{
  display: inline-block;
  float: left;
  font-weight: 300;
  color: #5cb85c;
}

.sectiontitlegreen a{
  color: #5cb85c;
  text-decoration: none
}

.sectiontitlepurple{
  display: inline-block;
  float: left;
  font-weight: 300;
  color: #854AB8;
}

.sectiontitlepurple a{
  color: #854AB8;
  text-decoration: none
}

.sectiontitlered{
  display: inline-block;
  float: left;
  font-weight: 300;
  color: #d9534f;
}

.sectiontitlered a{
  color: #d9534f;
  text-decoration: none
}

.sectiontitleyellow{
  display: inline-block;
  float: left;
  font-weight: 300;
  color: #f0ad4e;
}

.sectiontitleyellow a{
  color: #f0ad4e;
  text-decoration: none
}

.newmenu li > a{
  color: #666;
}

.newmenu li i{
  padding-right: 5px;
}



.openmlsectioninfo{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-top: -3px;
  margin-bottom: 20px;
}

.openmlsectioninfo h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 200 !important;
  margin-bottom: 20px;
  margin-top: 10px;
}

.openmlsectioninfo h1{
  font-size: 40px;
  color: #437356
}

.openmlsectioninfo h1 i{
  color: #bebebe;
}


.openmlsectioninfo h2{
  margin-top: 28px;  
  font-size: 25px;
  color: #ec5148;
}


.openmlsectioninfo h3{
  margin-top: 28px;  
  font-size: 25px;
  color: #ec5148;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-top: 35px;
  border-top: 1px solid #aac789;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 200 !important;
  margin-top: 20px;  
  font-size: 20px;
  border-bottom: 1px solid #cecece;
}

h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 200 !important;
  margin-top: 10px;  
  font-size: 17px;
}



.version{
  float:left;
  padding: 2px;
}

.version > select{
  line-height: 50px;
}

.resultoption{
  display: inline-block;
}

.inspiration{
  margin-top:50px;
  margin-bottom:50px;
  float: left;
}

.inspiration a{
  color:#666666;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  font-size: 15px;
  cursor: pointer !important;
}

.circle span{
  clear: both;
  color: #666666;
}

.introsection{
  clear: both;
  padding-top:20px;
  padding-bottom:50px;
}

.introsection h1{
  color: #FFFFFF !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 200 !important;
  font-size: 35px !important;
  line-height: 60px;
  margin-bottom: 10px !important;
}

.introsection h2{
  color: #FFFFFF !important;
}

.introsection p{
  font-family: 'Roboto', sans-serif;
  font-weight: 200 !important;
  font-size: 16px !important;
}

.introsection a{ 
  color: #FFFFFF;
  font-weight: 400 !important;
  cursor: pointer !important;
}

.bluesection{
  background-color: #428bca;
  color: #FFFFFF;
}

.greensection{
  background-color: #5cb85c;
  color: #FFFFFF;
}

.yellowsection{
  background-color: #f0ad4e;
  color: #FFFFFF;
}

.redsection{
  background-color: #d9534f;
  color: #FFFFFF;
}

.purplesection{
  background-color: #854AB8;
  color: #FFFFFF;
}

.hotlinks{
  display: block;
  padding-top:20px;
  text-align:center;
  float: right;
  padding: 0px;
  margin: 0px;
}

.hotlinks li{
  display: inline-block;
  padding: 7px;
}


.sharing{
  font-size: 14px !important;
  padding-bottom: 20px;
}

.interval{
  display: inline-block;
  width: 180px;
  border-bottom: 1px dashed #000000;
  padding-bottom: 0px;
}

.stretch{
  padding-left:2px;
  padding-right:2px;
}

.stretch > input{
  height: 30px !important;
}

#parameterbox{
 margin-top: 0px;
}

.min{
  display: inline-block;
  float: left;

}

.max{
  display: inline-block;
  float: right;
}

.default {
  display: inline-block;
  float: left;
}

.recommendedrange {
  display: inline-block;
  float: left;
  word-break: break-all;
}


.openmlfooter {
position: relative;
float: left;
padding: 24px 0 0 0;
height: auto;
width: 100%;
text-align: left;
background-color: #333333;
-webkit-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
-moz-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
color: #6E6E6E;
}

#footer {
padding-top: 70px;
margin-right: auto;
margin-left: auto;
position: relative;
width: 980px;
}

.openmlfooter img {
height:45px;
padding: 7px;
opacity:0.6;
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    /* filter: url(resources.svg#desaturate); Gecko !Commented out, firefox doesn't like it!!!*/
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.openml-contact{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.openml-contact li{
  display: inline-block;
  padding: 7px;
}

ul.openml-footer {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

ul.openml-contact {
  padding: 0;
  margin-bottom: 30px;
}


.openml-footer li{
  padding: 3px;
}

.openml-footer a{
  color: #AEAEAE;
  text-decoration: none;
}

.openml-footer a:hover{
  color: #FFFFFF;
  text-decoration: none;
}


.openml-contact a{
  text-decoration: none;
  color: #AAAAAA;
  font-size: 11px;

}

.openml-contact a:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.input-info-first{
  padding-left:0px;
  color: #999;
  font-size: 12px;
}

.input-info{
  color: #999;
  font-size: 12px;
  margin-top:10px;
  padding-left:0px;
}



#querygraphtab{
  background-image:url('../img/ajax-loader.gif');
  background-repeat:no-repeat;
  background-position:center;
}

#qmenu{ 
  float:left;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  padding: 5px;
}

#expdbschema, 
#expdbschema2{
  min-height: 630px;
  width:970px;
  background-image: url(../img/expdbschema.png);
  background-repeat: no-repeat;
  background-color: #fff;
  -webkit-backface-visibility:hidden;
  overflow: scroll;
}

.expdbtab, .expdbtab2 {
  display:none;
}

#expdbschema > a {
  height:20px;
}
#expdbschema2 > a {
  height:20px;
}

#sqlbox{
  min-height:80px;
  opacity:0.5;
  background:url(../img/glyphicons_030_pencil.png) center center no-repeat;
  border: 1px solid #b3b3b3;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
}

a.btn-small{
  text-align: left;
  font-size: 13px;
}


.topmenu{
  float:right;
  margin-top: 20px;
  margin-bottom: -55px;
  display:none;
  position: relative;
  z-index: 1020;
}


.topmenu > .btn-group{
  display: inline-block;
  clear: none;
}

.topmenu > input{
  float:left;
  width:140px;
}

.tour{
  line-height: 14pt;
}

.tourlink > code{
  border:none;
}

.tourlink:hover{
  text-decoration:none;
}

.popover.bottom {
	padding: 0px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}


.topmenu > output{
  padding:5px;
  line-height: 30px;
  float:right;
}

.topmenu > .btn-group .input:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.btn-group .input {
    float: left;
    position: relative;
}

#maincontainer{
  min-height:400px;
}

#topmenuScatter{
  margin-top: -20px;
  padding-top: 0px;
  position:absolute;
  right:25px;
  z-index:100;
}


#scattermain{
  margin-top: 20px;
}


#linemain{
  margin-top: 20px;
}


#topmenuLine{
  margin-top: -20px;
  padding-top: 0px;
  position:absolute;
  right:25px;
  z-index:100;
}

.c select{
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  width: 120px;
  height: 18px;
}

.c input[type="text"]{
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  width: 100px;
  height: 12px;
}

.sqlmessage{
  float:left;
  display:none;
  width:80%;
  color:red;
}


.close-button{
  background-color: #4183c4;
}

#query-btn, #sqlquery-btn, #wizardquery-btn {
  float:right;
  display: inline-block;
  margin-right:1%;
}





/* Footer start here */
footer {
  position: relative;
  z-index: 1030;
  margin-top: 20px;
  border-top: 2px solid #aeaeae;
  background-image: -moz-linear-gradient(top, #dadada, #ffffff);
  background-image: -ms-linear-gradient(top, #dadada, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadada), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #dadada, #ffffff);
  background-image: -o-linear-gradient(top, #dadada, #ffffff);
  background-image: linear-gradient(top, #dadada, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#ffffff', GradientType=0);
  border-color: #aeaeae #aeaeae #aeaeae;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #dadada;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}

ul.footer{
  border:none;
  margin-top:10px;
  padding:0px;
  padding-left:0px;
  display: block;
  font-size: 12px;
  list-style: none;
  font-weight: bold;
}

li.footerhead{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  color: #999999;
}

footer > p{
  padding:0px;
  margin-left:20px;
}

footer > hr{
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #cecece;
}

textarea,
input[type="text"] {
  display: inline-block;
  height: 35px;
  padding: 4px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  outline: none;
}

input[type="text"]:focus{
outline: none;
-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}


.expdbtable {
  display: block;
  cursor: pointer;
  background-color: transparent;
  /*border: 1px solid #ff6666;*/
}

.expdbtable:hover {
  border-color: #4183c4;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 105, 214, 0.25);
  box-shadow: 0px 0px 3px 3px rgba(0, 105, 214, 0.25);
}

.doubleLineHeight {
  line-height:200%;
}

.uppercase {
  text-transform: uppercase;
}

.membername{
	font-size: 110%;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}
.memberline{
 	font-size: 90%;
	font-weight: normal;
	margin-bottom:20px;
}
.userprofile{
	color: #40A236;
	font-style:italic;
	font-weight: normal;
	padding-left: 5px;
}


.justify {
  text-align: justify;
}

hr.softSmall {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

hr.hardSmall {
  margin-top:-10px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}



.verticalSpace50 {
  height: 50px;
}

.softText {
  font-weight: normal;
}

/* Tutorial */

      .embed-container {
            position: relative;
            padding-bottom: 56.25%; /* 16/9 ratio */
            padding-top: 30px; /* IE6 workaround*/
            height: 0;
            overflow: hidden;
        }
        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

/* Base class */
.bs-docs-tutorial {
  position: relative;
  margin: 0px;
  padding: 0px;
  *padding-top: 19px;
  max-width: 700px;
  background-color: #fff;
  border: 1px solidt #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-tutorial:after {
  content: "Tutorial";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}


.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.img-modal{
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sqlmessage-buttonbox {
        min-height: 20px;
      }

html, body {
   height: 100%;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   min-width: 400px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   background-color: #fffffd;
}

      a:hover {
        cursor:pointer;
      }

      .openmlsectioninfo p {
	color: #666;
	padding-top: 3px;
	font-size: 11pt;
      }

      td {
	color: #666;
	font-size: 11pt;
      }
 
      .form-group label{
   	font-weight: 200;
	font-size: 11pt;
	margin-bottom: 0px;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto 0px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
	padding: 5px;
      }
      #footer {
        background-color: #f5f5f5;
      }

.expand-all a {
    color: #08C;
    font-size: 14px;
    font-weight: bold;
    padding-left: 7px;
    text-decoration: none;
    cursor: pointer;
  }

.expand-all a:hover{
    color: #04C;
  }

.nav-search {
  *zoom: 1;
}

.nav-search:before,
.nav-search:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-search:after {
  clear: both;
}


.nav-search > li {
  float: left;
  padding-top:8px;
  padding-bottom:0px;
}

.nav-search > li > a:hover {
  background-color: #ffffff;
  color: #ff0000;
}

.nav-search > li > a {
  padding-right: 11px;
  padding-left: 11px;
  margin-right: 2px;
  line-height: 14px;
  color: #777;
}

.nav-search > li > a {
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.nav-search > .active > a{
  border-bottom: 3px solid #ff0000;
  color: #ff0000;
  margin-bottom: -3px;
}

.runmenu{
  list-style-type: none;
  padding:0;
  margin-top:5px;
  margin-bottom:30px;
  width:100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
}


.runmenu > li {
  padding-bottom:12px;
  padding-top:0px;
}

.runmenu > li > a:hover {
  color: #ff0000;
  text-decoration: none;
}

.runmenu > li > a {
  padding-right: 11px;
  padding-left: 11px;
  margin-right: 2px;
  line-height: 14px;
  color: #777;
}

.runmenu > li > a {
  padding-top: 8px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.runmenu > .active > a{
  color: #ff0000;
}


.topsearch{
  padding-top:15px;
  padding-bottom:7px;
  z-index:1040;
}

.topsearch form{
  margin-bottom:0px;
}

.searchstats{
  color: #999;
  font-size: 13px;
  padding-bottom:20px;
  font-style: italic;
}

.noresult{
  text-align: center;
  font-size: 16px;
  padding:80px;
}

.noresult i{
  color: #aeaeae;
}

.noresult p{
  padding:4px;
}

.searchresult{
  padding-bottom:30px;
}

.searchresult a{
}

.searchresult i{
  color: #999;
  margin-right: 3px;
}

.searchresult > .teaser{
  padding-left:24px;
  font-size: 15px;
}

.searchresult > .runStats{
  padding-top:0px;
  padding-left:24px;
  font-size: 13px;
  color: rgb(0, 153, 51);
}

.searchresult > .runStats > a{
  color: rgb(0, 153, 51);
}

.ui-autocomplete {
    max-width: 382px;
    max-height: 982px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    border:1px solid #222;
    position:absolute;
  }

.ui-menu-item{
  padding: 8px;
  border: solid rgba(0,0,0,0.05);
  border-width: 1px 0;
  white-space: nowrap;
}

.ui-menu-item i{
  color: #aeaeae;
  margin-right: 4px;
  font-size: 20px;
}

.ui-menu-item span{
  color: #999;
}

.help-block, .help-block2{
  font-size: 12px;
  font-weight: 100;
  color: #999;
}

.social {
	width: 100%;
	padding-left:40px !important;
        padding-top:12px;
        padding-bottom:4px;
	min-height: 20px;
	margin-left: -5px;
  	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
}
  
/* Set an optional width for your button wrappers */
.social span {
	display:inline-block;
	vertical-align: top;
}
 
/* Adjust the widths individually if you like */

.social .linkedin {
	width: 95px;
}

.social .Facebook {
	width: 300px;
	clear: both !important;
	margin:0 auto !important;
}

.social .twitter {
	width: 95px;
}

.stats {
  margin-bottom: 20px;
  display: inline-block;
  line-height: 18px;
  color: #999999;
  padding-top:100px;
  padding-bottom:10px;
}

.statrow {
    display: inline-block;
    margin: 0 auto;
}

.dotcontainer a {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.dotcontainer a:hover {
    color: #fff;
}

a.bold{
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

a.bold:hover{
    color: #333;
}



.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;


    width: 76px;
    height: 76px;
    padding: 0px;
    
    background: #fff;
    color: #fff;
    display:block;
    position: relative;

}

.numberCircle .number{
    font-size: 20px;
    font-weight: 300;
    line-height:62px;
    position: absolute;
    text-align: center;
    display: block;
    width:100%;
}
.numberCircle .label{
     font-size: 13px;
     font-weight: 300;
     position: absolute;
     text-align: center;
     display: block;
     width:100%;
     line-height:95px;
}

.arc {
	height: 76px;
	left: 0;
	top: 0;
	position: absolute;
	width: 76px;

	content: "";
  	animation: spin 0.5s 3 linear;
  	-webkit-animation: spin 0.5s 3 linear;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

.circlegreen{
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #3d8b3d;
	border-radius: 50%;
	background: #5cb85c;
}

a:hover > .circlegreen{
	background: #3d8b3d;
}

.circleblue {
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #2a6496;
	border-radius: 50%;
	background: #428bca;
}

a:hover > .circleblue{
	background: #2a6496;
}

.circleyellow {
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #df8a13;
	border-radius: 50%;
  	background: #f0ad4e;
}

a:hover > .circleyellow{
	background: #df8a13;
}


.circlered {
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #b52b27;
	border-radius: 50%;
  	background: #d9534f;
}

a:hover > .circlered{
	background: #b52b27;
}

.shortintro{
   font-size: 16px;
   font-weight: 300;
   color: #666;
   padding-bottom:30px;
}



.statvalue span {
   font-size: 20px;
   padding-right: 3px;}


.statcell{
    width: 150px;
    text-align:center;
    font-size: 17px;
}

.statvalue{
    text-align: left;
    display: inline-block;
    padding-left: 4px;
    line-height: 16px;
    font-size: 14px;
    line-height: 22px;
    vertical-align: text-top;
}

.qualities {
  margin-bottom: 20px;
  display: inline-block;
  color: #999999;
}

.qualrow{
    display: inline-block;
    margin: 0 auto;
}

.qualrow a {
    text-decoration: none;
}

.qualcell{
    width: 220px;
    text-align:center;
    font-size: 17px;
    padding-top:20px;
    padding-bottom:20px;
    vertical-align: bottom;
    overflow: hidden;
}

.qualcell span {
   font-size: 30px;
   padding-right: 3px;
   padding-bottom: 5px;
}

.qualitynumeric{
  color: #428bca;
}

.qualitytrue{
  color: #5cb85c;
}

.qualityfalse{
  color: #d9534f;
}

.carousel-inner{
 	text-align:center;
}


.item{
 	text-align:center;
	margin:0 auto;
}


.item > .span8{
 	text-align:center;
	margin:0 auto;
}

.hccategory{
	z-index:-1 !important;
}
