/* Change the docs' brand */
.brand {
   position: relative;
   width: 40px;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   color: #333;
   font-size: 25px;
   padding-bottom: 10px;
   padding-top: 5px;
   padding-left: 5px;
   text-decoration: none;
}

.brand:hover {   
   color: #333;   
   text-decoration: none;
}

.socialshare {
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 14px;
  float: right;
  color: #aeaeae;
  text-decoration: none;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.socialshareicon {
  padding-top: 12px;
}


.socialshare .bs-icon2 {
  opacity: .6;
}

  .sharrre{
    float:left;
    margin-right: 20px;
    margin-bottom: -20px;
  }
  .sharrre .count {
    color:#525b67;
    display:block;
    font-size:14px;
    float: center;
    text-align:center;
  }

/* Create square icons, white logo on colored background */

#social-bar {
    height: 80px;
    width: 260px;
    clear: both;
    padding-top: 7px;
}

#social-bar .fa {
    color: white;
    border-radius: 25px;
    font-size:25px;
    min-width: 45px;
    line-height: 45px;
    text-align: center;
}

#social-bar a {
    margin-right: 15px;
}

#social-bar a:first-child {
    padding-left: 0;
}

/* Set icon color related to the service */

#social-bar a span {
    margin-left: 5px;
    padding: 5px;
}

#social-bar .fa-rss {
    background: #e5842f;
}

#social-bar .fa-facebook {
    background: #3B5998;
}

#social-bar .fa-twitter {
    background: #00ACED;
}

#social-bar .fa-google-plus {
    background: #E14107;
}

#social-bar .fa-pinterest {
    background: #C10707;
}

#social-bar .fa-linkedin {
    background: #008ACB;
}

#social-bar .fa-github {
    background: #000000;
}




/* Don't underline icon etc. */
#social-bar a:hover {
    text-decoration: none;
}

#social-bar a:hover span {
    text-decoration: underline;
    color: #333333; /* Match icon highlight color */
}

/* Animate mouse hover */
#social-bar a .fa {
   transition: background 0.5s;
}

#social-bar a:hover .fa {
    background: #333333;
    transition: background 0.5s;
}

.sharetitle {
   position: relative;
   width: 200px;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   color: #333;
   font-size: 25px;
   padding-bottom: 10px;
}

#openmllinks {
   display: none;
}

#sociallinks {
   display: none;
}


.iconrow a {
    margin-right: 15px;
    text-decoration: none;
    float: left;
}

.iconrow a span {
    color: #666666;
}


.iconcell{
    width: 60px;
    text-align:center;
    margin-bottom: 15px;
}

.iconcell .fa{
    padding-bottom: 5px;
}


.iconrow a:hover {
    margin-right: 15px;
    text-decoration: none;
}


.iconrow a:first-child {
    padding-left: 0;
}

.iconrow{
   width: 300px;
   clear: both;
   padding-top: 7px;
}

.popover {
  max-width: 314px;
}


.icongreen {
  color: #5cb85c;
}

.iconblue {
  color: #428bca;
}

.iconyellow {
  color: #f0ad4e;
}

.iconred {
  color: #d9534f;
}

.icongray {
  color: #854AB8;
}
